<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style_add_new_card_form.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Card Form</title>
</head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Card ID</th>
                    <th>Card Name</th>
                    <th>Last Updated</th>
                    <th>Link to Update Form</th>
                </tr>
            </thead>
            <tbody>
                {% for card_to_list in list_of_cards_for_update %}
                <tr>
                    <td>{{ card_to_list.card_id }}</td>
                    <td>{{ card_to_list.card_name }}</td>
                    <td>{{ card_to_list.updated_at }}</td>
                    <td>
                        <a href="/updates/{{ card_to_list.card_id }}">Update this card</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>